.section-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    text-align: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: var(--text-color);
    width: 100%;
}

/* lines */
.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: var(--primary-clr);
}


.theme-icon {
    transition:
        transform var(--theme-transition),
        opacity var(--theme-transition);
}

[data-theme="dark"] .theme-icon {
    transform: rotate(180deg);
}

.skill-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: minmax(200px, fit-content);
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: 75px;
    border: 1px solid var(--primary-clr);
    outline: 2px solid var(--primary-clr);
    transition: width var(--theme-transition);
    color: var(--text-color);
    transition: all var(--theme-transition);
}

.skill-pill:hover {
    outline-offset: 3px;
    box-shadow: 0 0 5px 5px var(--primary-clr);
    scale: 1.3;
}