.hero-section {
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
}

@media screen and (max-width: 768px) {}