/* =========================
   NAVBAR
========================= */

.cs-navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 1.8rem;

    background-color: var(--background-clr);
    color: var(--text-color);

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);

    transition:
        background-color var(--theme-transition),
        color var(--theme-transition),
        box-shadow var(--theme-transition);
}

/* Dark mode navbar shadow */
[data-theme="dark"] .cs-navbar {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

/* =========================
   TOGGLE BUTTON
========================= */

#navToggleBtn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;

    transition: color var(--theme-transition);
}

/* =========================
   BRAND
========================= */

.cs-nav-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* =========================
   LINKS
========================= */

.cs-nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cs-nav-links .theme-change-btn {
    background: transparent;
    border-radius: 75px;
    font-size: 1.5rem;
    color: var(--text-color);
    border: 1px solid var(--primary-clr);
    padding: .3rem .6rem;
    cursor: pointer;
}

.cs-nav-links .theme-change-btn:hover {
    color: var(--primary-clr);
}

.cs-nav-link {
    text-decoration: none;
    font-weight: 500;

    color: var(--text-color);
    border-bottom: 2px solid transparent;

    transition:
        color var(--theme-transition),
        border-color var(--theme-transition);
}

.cs-nav-link:hover,
.cs-nav-link.active {
    color: var(--primary-clr);
    border-bottom-color: var(--primary-clr);
}

/* =========================
   MOBILE
========================= */

@media screen and (max-width: 768px) {

    #navToggleBtn {
        display: block;
    }

    .cs-navbar {
        padding: 0.8rem 1rem;
        flex-direction: column;
        align-items: stretch;
    }

    .cs-nav-brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cs-nav-links {
        width: 100%;
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .cs-nav-links.collapsed {
        display: none;
    }
}